

/* Normal desktop screen size */
@media (min-width: 961px){
   
    body{
        background-color: black;
    }
    /*navbar container*/
    #navbar{
        display:flex;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content:flex-start;
        margin-left: 28px;
        margin-top:22px;
       
    }
    /* nav bar items*/
    .nav-link{
        color:white;
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        font-weight: bold;
        margin-right:48px;
    }
    a{
        text-decoration: none;
        color:white;
        position: relative;
    }

    /* nav bar hover animation*/
    .nav-link a:after{
        content: "";
        position: absolute;
        background-color: #e5e900;
        height:3px;
        width:0%;
        left:0;
        bottom:-10px;
        transition: 0.3s;
    }
    .nav-link a:hover{
        width:100%;

    }
    .nav-link  a:hover:after{
        width:100%;
    }
    /* END OF NAV BAR ANIMATION*/
     
    /* Container for main text and image*/
    #main-page{
        display: flex;
    }
    
    /*turns all main text white*/
   
    
    #main-title{
        font-size: 80px;
        font-weight: 600;
        margin-left:28px;
        margin-top:115px;
        font-family: 'Telex', sans-serif;
        width:100%;
        color:white;
    }
    
    #main-desc{
        font-family: 'Montserrat', sans-serif;
        max-width:450px;
        margin-left: 32px;
        line-height: 2;
        margin-top:20px;
        color:white;
    }
    
    #career-image{
        height: auto;
        max-width:50%;
        float:right;
        padding:28px;
        margin-right:100px;
    }

    #footer{
        display:flex;
        flex-direction: row;
        margin-top: 28px;
    }

    #footer-text{
        color:white;
        font-family: 'Telex', sans-serif;
        margin-left:28px;
        font-weight: 800;
        font-size: 32px;
        line-height: 25px;
        width:20%;
    }
  
    #social-icon-container{
        display: flex;
        margin-top: -6px; 
    }

    .icon-image{
        height:45px;
        width:auto;
    }

    .icon-image:hover{
        -webkit-transform: scale(1.1);
        transform:scale(1.1);
    }
    


}

/* smaller desktop size*/
@media sreen and (max-width: 960px) and (min-width:727px){

    body{
        background-color: black;
    }
    /*navbar container*/
    #navbar{
        display:flex;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content:flex-start;
        margin-left: 28px;
        margin-top:22px;
       
    }
    /* nav bar items*/
    .nav-link{
        color:white;
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        font-weight: bold;
        margin-right:48px;
    }
    a{
        text-decoration: none;
        color:white;
        position: relative;
    }

    /* nav bar hover animation*/
    .nav-link a:after{
        content: "";
        position: absolute;
        background-color: #e5e900;
        height:3px;
        width:0%;
        left:0;
        bottom:-10px;
        transition: 0.3s;
    }
    .nav-link a:hover{
        width:100%;

    }
    .nav-link  a:hover:after{
        width:100%;
    }
    /* END OF NAV BAR ANIMATION*/
     
    /* Container for main text and image*/
    #main-page{
        display: flex;
        flex-direction: column;
    }
    
    /*turns all main text white*/
   
    
    #main-title{
        font-size: 80px;
        font-weight: 600;
        margin-left:28px;
        margin-top:115px;
        font-family: 'Telex', sans-serif;
        width:100%;
        color:white;
    }
    
    #main-desc{
        font-family: 'Montserrat', sans-serif;
        max-width:450px;
        margin-left: 32px;
        line-height: 2;
        margin-top:20px;
        color:white;
    }

    #career-image{
        height: auto;
        max-width:50%;
        padding:28px;
       margin-bottom: 48px;
       margin-top: 48px; 
      
    }

    #footer{
        display:flex;
        flex-direction: row;
    }

    #footer-text{
        color:white;
        font-family: 'Telex', sans-serif;
        margin-left:28px;
        font-weight: 800;
        font-size: 32px;
        line-height: 25px;
        width:20%;
    }
  
    #social-icon-container{
        display: flex;
        margin-top: -6px;
    }

    .icon-image{
        height:45px;
        width:auto;
    }

    .icon-image:hover{
        -webkit-transform: scale(1.1);
        transform:scale(1.1);
    }
    


}

/*mobile screens*/
@media (max-width:726px){
    body{
        background-color: black;
    }
    /*navbar container*/
    #navbar{
        display:flex;
        flex-direction: row; 
        justify-content:flex-start;
        margin-top:22px;
   
       
    }
    /* nav bar items*/
    .nav-link{
        color:white;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: bold;
        margin-right:20px;
    }

    a{
        text-decoration: none;
        color:white;
        position: relative;
    }

    /* nav bar hover animation*/
    .nav-link a:after{
        content: "";
        position: absolute;
        background-color: #e5e900;
        height:3px;
        width:0%;
        left:0;
        bottom:-10px;
        transition: 0.3s;
    }

    .nav-link a:hover{
        width:100%;

    }

    .nav-link  a:hover:after{
        width:100%;
    }
    /* END OF NAV BAR ANIMATION*/
     
    /* Container for main text and image*/
    #main-page{
        display: flex;
        flex-direction: column;
    }
    
    /*turns all main text white*/
   
    
    #main-title{
        font-size: 80px;
        font-weight: 600;
        margin-left:28px;
        margin-top:115px;
        font-family: 'Telex', sans-serif;
        width:100%;
        color:white;
    }
    
    #main-desc{
        font-family: 'Montserrat', sans-serif;
        max-width:450px;
        margin-left: 32px;
        line-height: 2;
        margin-top:20px;
        color:white;
    }

    #career-image{
        height: auto;
        max-width:80%;
        padding:28px;
       margin-bottom: 48px;
       margin-top: 48px;
    }

    #footer{
        display:flex;
        flex-direction: column;
    }

    #footer-text{
        color:white;
        font-family: 'Telex', sans-serif;
        margin-left:28px;
        font-weight: 800;
        font-size: 32px;
        line-height: 25px;
        width:20%;
    }
  
    #social-icon-container{
        display: flex;
        margin-top: -6px;
  
    }

    .icon-image{
        height:45px;
        width:auto;
        margin-left: 22px;
        margin-top: 22px;
    }
    .icon-image:hover{
        -webkit-transform: scale(1.1);
        transform:scale(1.1);
    }

}


